.heart{
    animation: beat 0.6s infinite alternate;
}
@keyframes beat{
    to { transform: scale(1.2); }
}
.color{
    color:#49a6e9
}
.code{
    color: #242424;
    text-shadow: 2px 2px #dbdbdb;
    letter-spacing: 2px;
}
.add{
    text-shadow: 2px 2px #dbdbdb;
    letter-spacing: 2px;
}
.fb, .tw, .li, .be, .di, .add{
    color:#49a6e9;
}
.fb:hover{
    color:#063251
}
.tw:hover{
    color:#063251
}
.li:hover{
    color:#063251
}
.be:hover{
    color:#063251
}
.di:hover{
    color:#063251
}
.letter{
    color:#5a5f67;
}
.letters{
    color:#48647f;
    align-items: center;
}
.letters:hover{
    background-color: #f1f5f8;
}
.icons{
    justify-content: center;
}
.show-modal{
    visibility: visible;
    z-index: 10;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: grid;
    place-items: center;
    transition: all .3s linear;
    transition: var(--transition);
    visibility: hidden;
    z-index: -1;
}
